@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write custom base/ component/ utility styles with `@layer` directive */

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-lg shadow-sm;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-gray-300 focus:ring-blue-500 h-5 text-blue-600 w-5;
  }

  [type='checkbox'] {
    @apply rounded;
  }

  [type='radio'] {
    @apply rounded-full;
  }
}

@layer components {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

  .Poppins300 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  .Poppins400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .Poppins600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .Poppins700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .Poppins800 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
  }

  /* === COLOR === */
  :root {
    --white: #fff;
    --black: #000;
    --grey: #999;
    --orange: #F37021;
    --blue: #006CDB;
    --red: #FF4A4A;
    --blue-purple-gradient: linear-gradient(45deg, #006CDB, #8535D4);
    --blue-orange-gradient: linear-gradient(45deg, #006CDB, #F37021);
  }

  .text-xs {
    font-size: 15px;
  }

  .text-sm {
    font-size: 18px;
  }

  .text-md {
    font-size: 24px;
  }

  .text-xl {
    font-size: 48px;
    line-height: 120%;
  }

  .font-reg {
    font-weight: 400;
  }

  .font-bold {
    font-weight: 700;
  }

  .text-white {
    color: var(--white);
  }

  .text-black {
    color: var(--black);
  }

  .text-grey {
    color: var(--grey);
  }

  .text-blue {
    color: var(--blue);
  }

  .text-orange {
    color: var(--orange);
  }

  .text-red {
    color: var(--red);
  }

  .text-blue-purple-gradient {
    background: var(--blue-purple-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .text-blue-orange-gradient {
    background: var(--blue-orange-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  /* === BUTTON STYLE === */

  .primary-button {
    background: var(--blue-purple-gradient);
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    width: fit-content;
  }

  .distinct-button {
    background: var(--blue-orange-gradient);
    color: #FFFFFF;
    padding: 7px 35px;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    width: fit-content;
  }

  .prose :where(code):not(:where([class~='not-prose'] *)) {
    @apply bg-gray-200 dark:bg-gray-800 dark:text-white font-normal px-1 py-0.5 rounded-md text-sm;
  }

  .prose :where(code):not(:where([class~='not-prose'] *))::before {
    content: '';
  }

  .prose :where(code):not(:where([class~='not-prose'] *))::after {
    content: '';
  }

  @font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/Archivo-Black.otf');
  }

  @font-face {
    font-family: 'Varela-Round';
    src: url('../assets/fonts/VarelaRound-Regular.otf');
  }

  @font-face {
    font-family: 'Helvatica';
    src: url('../assets/fonts/Helvetica.otf');
  }
}
